<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<div class="navbar-collapse collapse" th:fragment="adminMenu">
		<div class="container">
			<div class="panel panel-primary">
				<div class="panel-body">
					<ul class="nav nav-pills">
						<li><a href="#" th:href="@{jobConfigurations}">Job
								Configurations</a></li>
						<li><a href="#" th:href="@{jobLaunchers}">Job Launcher</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
</html>