<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
</head>
<body>
  <div class="navbar navbar-default navbar-fixed-top"
       th:fragment="applicationMenu">
    <div class="container-fluid">
      <header class="navbar header--navbar desktop-only">
        <div class="navbar-inner">
          <div class="container-fluid">
            <ul class="nav navbar-nav">
             <li class="navbar-link">
                <a href="#" th:href="@{jobs(applicationid=${clientApplication.id})}">Jobs</a>
              </li>	
              <li class="navbar-link">
                <a href="#" th:href="@{jobConfigurations(applicationid=${clientApplication.id})}">Job Configurations</a>
              </li>
              <li class="navbar-link">
                <a href="#" th:href="@{jobLaunchers(applicationid=${clientApplication.id})}">Job Launcher</a>
              </li>
            </ul>
          </div>
        </div>
      </header>
    </div>
  </div>
</body>
</html>