<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top"
     th:fragment="header">
    <div class="viewport">
        <div class="navbar header--navbar desktop-only">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <div class="spring-logo--container">
                        <a class="spring-logo" href="#"><span></span></a>
                    </div>
                    <div class="spring-logo--container">
                        <a class="spring-boot-logo" href="#"><span></span></a>
                    </div>
                    <ul class="nav pull-right">
                        <li class="navbar-link"><a href="#" th:href="@{jobs}">Jobs</a></li>
                        <li class="navbar-link"><a href="#" th:href="@{admin}">Admin</a></li>
                        <li class="navbar-link"><a href="#" th:href="@{index}">Home</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>