<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<div class="container-fluid" th:fragment="jobConfigurationsMenu">
    <div class="header--application">
        <div class="container-fluid">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <ul class="nav nav-tabs">
                        <li class="navbar-link">
                            <a href="#" th:href="@{jobSchedulerConfigurations(applicationid=${clientApplication.id})}">
                                Job Scheduler Configurations
                            </a>
                        </li>
                        <li class="navbar-link">
                            <a href="#" th:href="@{jobListenerConfigurations(applicationid=${clientApplication.id})}">
                                Job Listener Configurations
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>