<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
			xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="header">
	<meta charset="UTF-8" />
	<title>Spring Batch Lightmin</title>
	<link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{css/main.css}"/>
	<script type="text/javascript" th:src="@{js/jquery-2.0.0.min.js}"></script>
	<script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
</head>
<body>
	<div th:fragment="menu">
		<nav class="navbar navbar-default navbar-fixed-top">
				<div class="navbar header--navbar desktop-only">
					<div class="navbar-inner">
						<div class="container-fluid">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>

								<div class="spring-logo--container">
									<a class="spring-logo" href="#" th:href="@{index}"><span></span></a>
								</div>
								<div class="spring-logo--container hidden-xs">
									<a class="spring-boot-logo" href="#"><span></span></a>
								</div>
							</div>
							<ul class="nav navbar-nav navbar-right navbar-collapse collapse">
								<li class="navbar-link"><a href="#" th:href="@{index}">Applications</a></li>
								<li class="navbar-link"><a href="#" th:href="@{about}">About</a></li>
							</ul>
						</div>
					</div>
				</div>
		</nav>
	</div>
</body>
</html>