<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/global-layout :: header"></head>

<body>

<div id="wrapper" class="toggled">

    <!-- sidebar -->
    <div th:include="fragments/global-layout :: sidebar"></div>

    <!-- sidebar content wrapper-->
    <div id="page-content-wrapper">
        <div th:include="fragments/application-navigation :: nav"></div>

        <div class="row-fluid">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#" th:href="@{applications}"
                                                   class="text-info">Applications</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="text-info" href="#"
                           th:href="@{application-instance(application-instance-id=${applicationContextModel.applicationInstanceId})}"
                           th:text="${applicationContextModel.applicationName}"></a>
                    </li>

                    <li class="breadcrumb-item text-muted">
                        <a class="text-info" href="#"
                           th:href="@{job-schedulers(application-instance-id=${applicationContextModel.applicationInstanceId})}">
                            Scheduler
                        </a>
                    </li>
                    <li class="breadcrumb-item text-muted"
                        th:text="${schedulerConfiguration.config.typeRead.displayText}"></li>
                    <li class="breadcrumb-item text-muted" th:text="${modificationType.value}"></li>

                    <li class="breadcrumb-item text-muted"
                        th:if="${modificationType.value == 'update' }"
                        th:text="${schedulerConfiguration.jobName}"></li>
                </ol>
            </nav>

            <form id="schedulerConfiguration form" method="post" class="text-secondary"
                  th:object="${schedulerConfiguration}">
                <div class="card border-0">
                    <div class="row">
                        <div th:with="varModType=${modificationType.value}"
                                class="col-md-6 col-lg-6 h3 text-info border-bottom">
                            <div    th:text="${#strings.capitalize(varModType)}+ ' ' + ${schedulerConfiguration.config.type} + ' Scheduler'"
                                    th:remove="tag">
                            </div>
                            <button type="button"
                                    th:title="#{tooltip.scheduler.info}"
                                    data-toggle="collapse" data-target=".multi-collapse" aria-expanded="true"
                                    aria-controls="batchJobHelpText statusHelpText cronExpressionHelpText initialDelayHelpText fixedDelayHelpText executorHelpText paramHint"
                                    class="btn btn-sm btn-info collapsed float-right col-lg-1 col-md-1">
                                <i class="fas fa-info"></i>
                            </button>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="form-group row" th:if="${modificationType.value == 'add'}">
                            <label class="col-sm-2 col-form-label">Batch Job</label>
                            <div class="col-sm-2">
                                <select class="form-control form-control-sm"
                                        aria-describedby="batchJobHelpText"
                                        th:field=" *{jobName}"
                                        th:value="*{jobName}">
                                    <option class="text-muted"
                                            th:each="job : ${applicationContextModel.registeredJobs}"
                                            th:text="${job}"
                                            th:value="${job}">
                                    </option>
                                </select>
                                <small id="batchJobHelpText" class="form-text text-muted collapse multi-collapse show"
                                       th:text="#{helptext.scheduler.batch_job}">
                                </small>
                            </div>
                        </div>
                        <div th:if="${modificationType.value == 'update'}">
                            <input type="hidden"
                                   th:value="*{jobName}"
                                   th:field="*{jobName}"/>
                        </div>
                        <div class="form-group row" th:if="${modificationType.value == 'add'}">
                            <label class="col-sm-2 col-form-label">Status</label>
                            <div class="col-sm-2">
                                <select class="form-control form-control-sm"
                                        aria-describedby="statusHelpText"
                                        th:value=" *{config.status}"
                                        th:field="*{config.status}">
                                    <option class="text-muted"
                                            th:each="status : ${applicationContextModel.schedulerStatus}"
                                            th:text="${status.displayText}"
                                            th:value="${status.value}">
                                    </option>
                                </select>
                                <small id="statusHelpText" class="form-text text-muted collapse multi-collapse show"
                                       th:text="#{helptext.scheduler.status}">
                                </small>
                            </div>
                        </div>
                        <div th:if="${modificationType.value == 'update'}">
                            <input type="hidden"
                                   th:value="*{config.status}"
                                   th:field="*{config.status}"/>
                        </div>
                    </div>
                </div>
                <div class="card border-0 w-100">
                    <div class="card-body">
                        <div class="form-group row" th:if="${schedulerConfiguration.config.isCron}">
                            <label class="col-sm-2 col-form-label">Cron Expression</label>
                            <div class="col-sm-3">
                                <input class="text-muted text-sm-left form-control"
                                       aria-describedby="cronExpressionHelpText"
                                       th:value="*{config.cronExpression}"
                                       th:field="*{config.cronExpression}"/>
                                <small id="cronExpressionHelpText" class="form-text text-muted collapse multi-collapse show"
                                       th:text="#{helptext.scheduler.cron_expression}">
                                </small>
                            </div>
                        </div>
                        <div th:if="${schedulerConfiguration.config.isPeriod}">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Initial Delay</label>
                                <div class="col-sm-2">
                                    <input class="text-muted text-sm-left"
                                           aria-describedby="initialDelayHelpText"
                                           th:value="*{config.initialDelay}"
                                           th:field="*{config.initialDelay}"/>
                                    <small id="initialDelayHelpText"
                                           class="form-text text-muted collapse multi-collapse show"
                                           th:text="#{helptext.scheduler.initial_delay}">
                                    </small>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Fixed Delay</label>
                                <div class="col-sm-2">
                                    <input class="text-muted text-sm-left"
                                           aria-describedby="fixedDelayHelpText"
                                           th:value="*{config.fixedDelay}"
                                           th:field="*{config.fixedDelay}"/>
                                    <small id="fixedDelayHelpText" class="form-text text-muted collapse multi-collapse show"
                                           th:text="#{helptext.scheduler.fixed_delay}">
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Executor</label>
                            <div class="col-sm-2">
                                <select class="form-control form-control-sm"
                                        aria-describedby="executorHelpText"
                                        th:value="*{config.taskExecutor}"
                                        th:field="*{config.taskExecutor}">
                                    <option class="text-muted"
                                            th:each="executor : ${applicationContextModel.taskExecutorTypes}"
                                            th:value="${executor.value}"
                                            th:text="${executor.displayText}">
                                    </option>
                                </select>
                                <small id="executorHelpText" class="form-text text-muted collapse multi-collapse show"
                                       th:text="#{helptext.scheduler.executor}">
                                </small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card border-0">
                    <div class="card-body">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Job Parameters</label>
                            <div class="col-sm-4">
                                            <textarea type="text"
                                                      class="form-control form-control-sm text-muted text-sm-left w-100"
                                                      id="jobParamters"
                                                      th:value="*{parameters}"
                                                      th:field="*{parameters}">
                                            </textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Job Incrementer</label>
                            <div class="col-sm-2">
                                <select class="form-control form-control-sm"
                                        th:value="*{incrementer}"
                                        th:field="*{incrementer}">
                                    <option class="text-muted"
                                            th:each="incrementer : ${applicationContextModel.jobIncrementers}"
                                            th:value="${incrementer.value}"
                                            th:text="${incrementer.displayText}">
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" th:value="${schedulerConfiguration.config.type}"
                       th:field="*{config.type}"/>
                <input type="hidden" th:value="${schedulerConfiguration.id}"
                       th:field="*{id}"/>

                <div class="card border-0"
                     th:if="${modificationType.value == 'add'}">
                    <div class="card-body">
                        <button
                                class="btn btn-info"
                                type="submit"
                                name="add-scheduler">
                            Add
                        </button>
                    </div>
                </div>

                <div class="card border-0" th:if="${modificationType.value == 'update'}">
                    <div class="card-body">
                        <button
                                class="btn btn-info"
                                type="submit"
                                name="update-scheduler">
                            Update
                        </button>
                    </div>
                </div>
                <div th:include="fragments/validation :: field-errors"></div>
            </form>

            <div   id="paramHint" class="collapse multi-collapse show"
                    th:include="fragments/hints :: job-parameter-description"></div>

        </div>
    </div>
</div>
</body>
</html>