<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: header"/>
<body>
<div th:include="fragments/layout :: menu"/>
<div class="viewport">
    <div class="container content">
        <h3>About Spring Batch Lightmin</h3>
        <p>
            This is a monitoring and management user interface for Spring Batch applications
        </p>
        <p>
            All applications have to register themselves at this server application or the server can be embedded
            within the client.
        </p>
        <ul class="unstyled">
            <li><a href="https://github.com/tuxdevelop/spring-batch-lightmin" target="_blank">Sources on GitHub</a></li>
        </ul>
    </div>
</div>
</body>
</html>
