<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: header"/>
<body>
<div th:include="fragments/layout :: menu"/>
<div th:include="fragments/applicationMenu :: applicationMenu"></div>
<div class="container content">
    <div class="row-fluid">
        <table class="table boxed">
            <thead>
            <tr>
                <th><h4>Overview</h4></th>
                <th colspan="1"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="bold">Status</td>
                <td th:class="'status-'+${clientApplication.lightminClientApplicationStatus.status}"
                    th:text="${clientApplication.lightminClientApplicationStatus.status} "/>
            </tr>
            <tr>
                <td class="bold">Service Url</td>
                <td>
                    <a class="text-mute" href="#" th:href="${clientApplication.serviceUrl}"
                       th:text="${clientApplication.serviceUrl}"/>
                </td>
            </tr>
            <tr>
                <td class="bold">Management Url</td>
                <td>
                    <a class="text-mute" href="#" th:href="${clientApplication.managementUrl}"
                       th:text="${clientApplication.managementUrl}"/>
                </td>
            </tr>
            <tr>
                <td class="bold">Health Url</td>
                <td>
                    <a class="text-mute" href="#" th:href="${clientApplication.healthUrl}"
                       th:text="${clientApplication.healthUrl}"/>
                </td>
            </tr>
            <tr>
                <td class="bold">Registered Jobs</td>
                <td>
                    <table>
                        <thead>
                        <th colspan="1"/>
                        </thead>
                        <tbody>
                        <tr th:each="job : ${clientApplication.lightminClientInformation.registeredJobs}">
                            <td th:text="${job}"/>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="bold">External Links</td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>