<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: header" />
<body>
    <div th:include="fragments/layout :: menu"></div>
    <div class="viewport">
        <table class="table boxed">
            <thead>
            <tr>
                <th colspan="1">
                    <h3>Application Exception</h3>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <table class="table boxed">
                        <thead>
                        <tr>
                            <th colspan="1">
                                <h5>Information</h5>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${url}">
                            <td>
                                <b>Page:</b> <span th:text="${url}">Page URL</span>
                            </td>
                        </tr>
                        <tr th:if="${timestamp}">
                            <td>
                                <b>Occurred:</b> <span th:text="${timestamp}">Timestamp</span>
                            </td>
                        </tr>
                        <tr th:if="${status}">
                            <td>
                                <b>Response Status:</b> <span th:text="${status}">status-code</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table class="table boxed">
                        <thead>
                        <tr>
                            <th colspan="1">
                                <h5>Exception Details</h5>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <div th:utext="'Exception: ' + ${exception.message}"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <li th:each="ste : ${exception.stackTrace}"><span
                                        th:utext="${ste}">StackTranceElement</span></li>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>