<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: header"/>
<body>
<div th:include="fragments/layout :: menu"/>
<div class="viewport">
    <div class="container content">
        <h3 class="text-spring">Spring Batch Lightmin Applications</h3>
        <div class="row-fluid">
            <table class="table boxed">
                <thead>
                <tr>
                    <th>Application Name</th>
                    <th>Service URL</th>
                    <th>Status</th>
                    <th colspan="1"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="clientApplication : ${clientApplications}">
                    <td class="bold" th:text="${clientApplication.name}"/>
                    <td>
                        <a href="#" th:href="${clientApplication.serviceUrl}"
                           th:text="${clientApplication.serviceUrl}"/>
                    </td>
                    <td th:class="'status-'+${clientApplication.lightminClientApplicationStatus.status}"
                        th:text="${clientApplication.lightminClientApplicationStatus.status} "/>
                    <td>
                        <div class="pull-right">
                            <div class="btn-group">
                                <a th:if="${clientApplication.lightminClientApplicationStatus.status != 'OFFLINE' || clientApplication.lightminClientApplicationStatus.status != 'DOWN'}"
                                   href="#" th:href="@{application(applicationid=${clientApplication.id})}">
                                    <button type="button" class="btn btn-success btn-sm">Info</button>
                                </a>
                                <span style="padding-right: 10px;"/>
                                <form method="post" class="form-inline pull-right" id="removeApplication"
                                      th:action="@{application(applicationid=${clientApplication.id})}">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>