<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Batch Lightmin</title>
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css"
          href="src/main/resources/static/css/bootstrap.min.css"
          th:href="@{css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css"
          href="src/main/resources/static/css/bootstrap.css"
          th:href="@{css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css"
          href="src/main/resources/static/css/main.css"
          th:href="@{css/main.css}"/>
</head>
<body>
<div th:include="fragments/header :: header"></div>
<div th:include="fragments/adminMenu :: adminMenu"></div>
<div class="viewport">
    <div class="container content">
        <div class="row-fluid">
            <table class="table boxed">
                <thead>
                <tr>
                    <th colspan="1">
                        Job Configuration
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <table class="table table-hover boxed table-striped">
                            <form id="addJobConfiguration" th:action="@{jobConfigurationAdd}"
                                  th:object="${jobConfigurationAddModel}" action="#" method="post">
                                <tr>
                                    <td>
                                        <label for="jobName">
                                            Job Name
                                        </label>
                                    </td>
                                    <td>
                                        <select class="form-control" id="jobName" th:value="*{jobName}"
                                                th:field="*{jobName}">
                                            <option th:each="name : ${jobNames}" th:value="${name}"
                                                    th:text="${name}">JobName
                                            </option>
                                        </select>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <label for="jobSchedulerType">
                                            Job Scheduler Type
                                        </label>
                                    </td>
                                    <td>
                                        <select class="form-control" id="jobSchedulerType"
                                                th:field="*{jobSchedulerType}" th:value="*{jobSchedulerType}">
                                            <option th:each="type : ${jobSchedulerTypes}"
                                                    th:value="${type}" th:text="${type.name()}">Job
                                                Scheduler Type
                                            </option>
                                        </select>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <label for="cronExpression">
                                            CRON Expression
                                        </label>
                                    </td>
                                    <td>
                                        <input class="form-control" id="cronExpression" type="text"
                                               th:value="*{cronExpression}" th:field="*{cronExpression}"/>
                                    </td>
                                </tr>


                                <tr>
                                    <td>
                                        <label for="fixedDelay">
                                            Fixed Delay
                                        </label>
                                    </td>
                                    <td>
                                        <input class="form-control" id="fixedDelay" type="text"
                                               th:value="*{fixedDelay}" th:field="*{fixedDelay}"/>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <label for="initialDelay">
                                            Initial Delay</label>
                                    </td>
                                    <td>
                                        <input class="form-control" id="initialDelay" type="text"
                                               th:value="*{initialDelay}" th:field="*{initialDelay}"/>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <label for="taskExecutorType">
                                            Task Executor Type
                                        </label>
                                    </td>
                                    <td>
                                        <select class="form-control" id="taskExecutorType"
                                                th:field="*{taskExecutorType}" th:value="*{taskExecutorType}">
                                            <option th:each="taskExecutor : ${taskExecutorTypes}"
                                                    th:value="${taskExecutor}" th:text="${taskExecutor.name()}">Task
                                                Executor Type
                                            </option>
                                        </select>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <label for="schedulerStatus">
                                            Scheduler Status
                                        </label>
                                    </td>
                                    <td>
                                        <select class="form-control" id="schedulerStatus"
                                                th:field="*{schedulerStatus}" th:value="*{schedulerStatus}">
                                            <option th:each="status : ${schedulerStatusValues}"
                                                    th:value="${status}" th:text="${status.value}">
                                                Scheduler Status
                                            </option>
                                        </select>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <label for="jobParameters">
                                            JobParameters
                                        </label>
                                    </td>
                                    <td>
								        <textarea class="form-control" id="jobParameters"
                                                  th:value="*{jobParameters}" th:field="*{jobParameters}">key(type)=value,key(type)=value</textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <button type="submit" class="btn btn-success btn-small">Add
                                        </button>
                                    </td>
                                    <td></td>
                                </tr>
                            </form>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>