<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: header"/>
<body>
<div th:include="fragments/layout :: menu"></div>
<div th:include="fragments/adminMenu :: adminMenu"></div>

<div class="container content">
  <div class="row">
    <div class="col-xs-12">
      <a href="#" th:href="@{jobConfigurationAdd}">
        <button type="button" class="btn btn-success btn-mini">Add new configuration</button>
      </a>
    </div>
  </div>
  <div th:each="jobConfigurationModel : ${jobConfigurationModels}">
    <h3 th:text="${jobConfigurationModel.jobName}" />
    <div class="row spacer" th:each="jobConfiguration: ${jobConfigurationModel.jobConfigurations}">
      <div class="col-xs-12">
        <table class="table boxed">
          <thead>
            <tr>
              <th class="header-text-small">Job Scheduler Type</th>
              <th class="header-text-small">Cron Expression</th>
              <th class="header-text-small">Initial Delay</th>
              <th class="header-text-small">Fixed Delay</th>
              <th class="header-text-small">Task Executor Type</th>
              <th class="header-text-small">Job Parameters</th>
              <th class="header-text-small">Job Incremeter</th>
              <th class="header-text-small">Scheduler Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="td-text-small"
                  th:text="${jobConfiguration.jobSchedulerConfiguration.jobSchedulerType}"></td>
              <td class="td-text-small"
                  th:text="${jobConfiguration.jobSchedulerConfiguration.cronExpression}"></td>
              <td class="td-text-small"
                  th:text="${jobConfiguration.jobSchedulerConfiguration.initialDelay}"></td>
              <td class="td-text-small"
                  th:text="${jobConfiguration.jobSchedulerConfiguration.fixedDelay}"></td>
              <td class="td-text-small"
                  th:text="${jobConfiguration.jobSchedulerConfiguration.taskExecutorType}"></td>
              <td class="td-text-small">
                <table>
                  <tbody>
                  <tr th:each="parameter : ${jobConfiguration.jobParameters}">
                    <td th:text="${parameter}"/>
                  </tr>
                  </tbody>
                </table>
              </td>
              <td class="td-text-small"
                  th:text="${jobConfiguration.jobIncrementer}"></td>
              <td class="td-text-small"
                  th:text="${jobConfiguration.jobSchedulerConfiguration.schedulerStatus}"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-1">
            <form method="post" class="form-inline"
                  th:action="@{jobConfigurations(jobConfigurationId=${jobConfiguration.jobConfigurationId})}">
              <button type="button" class="btn btn-danger btn-sm"
                      data-toggle="modal" data-target="#confirmDeleteDialog">Delete</button>
            </form>
          </div>

          <div class="col-xs-11 clearfix">
            <div class="pull-right">
              <a href="#"
                 th:href="@{jobConfigurationEdit(jobConfigurationId=${jobConfiguration.jobConfigurationId})}"
                 class="btn btn-success btn-sm">Edit</a>

              <span style="padding-right: 10px;" />

              <form method="post" class="form-inline pull-right"
                    th:if="${jobConfiguration.jobSchedulerConfiguration.schedulerStatus.value == 'STOPPED'
                                                      || jobConfiguration.jobSchedulerConfiguration.schedulerStatus.value == 'INITIALIZED'}"
                    th:action="@{jobConfigurationSchedulerStart(jobConfigurationId=${jobConfiguration.jobConfigurationId})}">
                <div class="form-group">
                  <button type="submit" class="btn btn-success btn-sm">Start</button>
                </div>
              </form>
              <form method="post" class="form-inline pull-right"
                    th:if="${jobConfiguration.jobSchedulerConfiguration.schedulerStatus.value == 'RUNNING'}"
                    th:action="@{jobConfigurationSchedulerStop(jobConfigurationId=${jobConfiguration.jobConfigurationId})}">
                <div class="form-group">
                  <button type="submit" class="btn btn-danger btn-sm">Stop</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Dialog -->
<div class="modal" id="confirmDeleteDialog" tabindex="-1" aria-labelledby="confirmDeleteDialog" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Confirm delete</h4>
      </div>

      <div class="modal-body">
        Do you really want to delete the job configuration?
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" id="deleteJobConfigButton" data-target-form="" class="btn btn-primary btn-danger confirm-btn">Yes</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#confirmDeleteDialog').on('show.bs.modal', function(event) {
    var triggerButton = $(event.relatedTarget);
    $('#deleteJobConfigButton').data('target-form', triggerButton.closest('form'));
  });

  $('#deleteJobConfigButton').click(function(event) {
    var parentForm = $('#deleteJobConfigButton').data('target-form');
    parentForm.submit();
  });
</script>
</body>
</html>