<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Spring Batch Lightmin</title>
<!-- bootstrap -->
<link rel="stylesheet" type="text/css"
	href="src/main/resources/static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"
	href="src/main/resources/static/css/bootstrap.css"
	th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" type="text/css"
	href="src/main/resources/static/css/bootstrap-theme.css"
	th:href="@{/css/bootstrap-theme.css}" />
<link rel="stylesheet" type="text/css"
	href="src/main/resources/static/css/bootstrap-theme.min.css"
	th:href="@{/css/bootstrap-theme.min.css}" />
<link rel="shortcut icon" type="image/png"
	href="src/main/resources/static/favicon.ico" th:href="@{/favicon.ico}" />
<script src="src/main/resources/static/js/bootstrap.js"
	th:src="@{/js/bootstrap.js}">

</script>
<script src="src/main/resources/static/js/bootstrap.min.js"
	th:src="@{/js/bootstrap.min.js}">

</script>
</head>
<body>
	<div th:include="fragments/header :: header"></div>
	<div th:include="fragments/adminMenu :: adminMenu"></div>
	<div class="container">
		<div class="hero-unit">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Job Configuration</h3>
				</div>
				<div class="panel-body">
					<form id="addJobConfiguration" th:action="@{/jobConfigurationAdd}"
						th:object="${jobConfigurationAddModel}" action="#" method="post">
						<div class="form-group">
							<label for="jobName" class="control-label col-xs-2">Job
								Name</label>
							<div class="col-xs-10">
								<select class="form-control" id="jobName" th:value="*{jobName}"
									th:field="*{jobName}">
									<option th:each="name : ${jobNames}" th:value="${name}"
										th:text="${name}">JobName</option>
								</select>
							</div>

							<label for="jobSchedulerType" class="control-label col-xs-2">Job
								Scheduler Type </label>
							<div class="col-xs-10">
								<select class="form-control" id="jobSchedulerType"
									th:field="*{jobSchedulerType}" th:value="*{jobSchedulerType}">
									<option th:each="type : ${jobSchedulerTypes}"
										th:value="${type}" th:text="${type.name()}">Job
										Scheduler Type</option>
								</select>
							</div>
							<label for="cronExpression" class="control-label col-xs-2">CRON
								Expression</label>
							<div class="col-xs-10">
								<input class="form-control" id="cronExpression" type="text"
									th:value="*{cronExpression}" th:field="*{cronExpression}" />
							</div>
							<label for="fixedDelay" class="control-label col-xs-2">Fixed
								Delay</label>
							<div class="col-xs-10">
								<input class="form-control" id="expression" type="text"
									th:value="*{fixedDelay}" th:field="*{fixedDelay}" />
							</div>
							<label for="initialDelay" class="control-label col-xs-2">Initial
								Delay</label>
							<div class="col-xs-10">
								<input class="form-control" id="expression" type="text"
									th:value="*{initialDelay}" th:field="*{initialDelay}" />
							</div>
							<label for="taskExecutorType" class="control-label col-xs-2">
								Task Executor Type </label>
							<div class="col-xs-10">
								<select class="form-control" id="taskExecutorType"
									th:field="*{taskExecutorType}" th:value="*{taskExecutorType}">
									<option th:each="taskExecutor : ${taskExecutorTypes}"
										th:value="${taskExecutor}" th:text="${taskExecutor.name()}">Task
										Executor Type</option>
								</select>
							</div>
							<label for="jobParameters" class="control-label col-xs-2">
								JobParameters </label>
							<div class="col-xs-10">
								<textarea class="form-control" id="jobParameters"
									th:value="*{jobParameters}" th:field="*{jobParameters}">key(type)=value,key(type)=value</textarea>
							</div>
							<div class="col-xs-10">
								<button type="submit" class="btn btn-primary btn-xs">Add
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>