<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Batch Lightmin</title>
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css"
          href="src/main/resources/static/css/bootstrap.min.css"
          th:href="@{css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css"
          href="src/main/resources/static/css/bootstrap.css"
          th:href="@{css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css"
          href="src/main/resources/static/css/main.css"
          th:href="@{css/main.css}"/>
</head>
<body>
<div th:include="fragments/header :: header"></div>
<div th:include="fragments/adminMenu :: adminMenu"></div>
<div class="viewport">
    <div class="container content">
        <div class="row-fluid">
            <table class="table boxed">
                <thead>
                <tr>
                    <th colspan="1">
                        Job Configurations
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="1">
                        <a href="#" th:href="@{jobConfigurationAdd}">
                            <button type="button" class="btn btn-success btn-mini">Add
                            </button>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="table boxed">
                            <thead>
                            <tr>
                                <th>Job Name</th>
                                <th>Job Configurations</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="jobConfigurationModel : ${jobConfigurationModels}">
                                <td th:text="${jobConfigurationModel.jobName}"/>
                                <td>
                                    <table class="table boxed">
                                        <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Operation</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr
                                                th:each="jobConfiguration: ${jobConfigurationModel.jobConfigurations}">
                                            <td th:text="${jobConfiguration.jobConfigurationId}"/>
                                            <td>
                                                <a href="#"
                                                   th:href="@{jobConfigurationEdit(jobConfigurationId=${jobConfiguration.jobConfigurationId})}">
                                                    <button type="button" class="btn btn-success btn-mini">Edit
                                                    </button>
                                                </a>

                                                <form id="deleteJobConfiguration" method="post"
                                                      th:action="@{jobConfigurations(jobConfigurationId=${jobConfiguration.jobConfigurationId})}">
                                                    <button type="submit" class="btn btn-danger btn-mini">Delete
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>