<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: header"/>
<body>
<div th:include="fragments/layout :: menu"></div>
<div th:include="fragments/applicationMenu :: applicationMenu"></div>
<div class="viewport">
  <div class="container content">
    <div class="row-fluid">
      <table class="table boxed">
        <thead>
        <tr>
          <th colspan="1">
            Job Configuration
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <table class="table table-hover boxed table-striped">
              <form id="editJobConfiguration"
                    th:action="@{jobConfigurationEdit}"
                    th:object="${jobConfigurationAddModel}" action="#" method="post">
                <tr>
                  <td>
                    <label for="jobConfigurationId">
                      Job Configuration Id
                    </label>
                  </td>
                  <td>
                    <input readonly="readonly" id="jobConfigurationId" class="form-control"
                           th:value="*{jobConfigurationId}"
                           th:field="*{jobConfigurationId}"/>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label for="jobName">
                      Job Name
                    </label>
                  </td>
                  <td>
                    <input readonly="readonly" id="jobName" class="form-control"
                           th:field="*{jobName}"
                           th:value="*{jobName}"/>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label for="jobSchedulerType">
                      Job Scheduler Type
                    </label>
                  </td>
                  <td>
                    <select class="form-control" id="jobSchedulerType"
                            th:field="*{jobSchedulerType}" th:value="*{jobSchedulerType}">
                      <option th:each="type : ${jobSchedulerTypes}"
                              th:value="${type}" th:text="${type.name()}">Job
                        Scheduler Type
                      </option>
                    </select>
                  </td>
                </tr>

                <tr>
                  <td>
                    <label for="cronExpression">
                      CRON Expression
                    </label>
                  </td>
                  <td>
                    <input class="form-control" id="cronExpression" type="text"
                           th:value="*{cronExpression}" th:field="*{cronExpression}"/>
                  </td>
                </tr>


                <tr>
                  <td>
                    <label for="fixedDelay">
                      Fixed Delay
                    </label>
                  </td>
                  <td>
                    <input class="form-control" id="fixedDelay" type="text"
                           th:value="*{fixedDelay}" th:field="*{fixedDelay}"/>
                  </td>
                </tr>

                <tr>
                  <td>
                    <label for="initialDelay">
                      Initial Delay</label>
                  </td>
                  <td>
                    <input class="form-control" id="initialDelay" type="text"
                           th:value="*{initialDelay}" th:field="*{initialDelay}"/>
                  </td>
                </tr>

                <tr>
                  <td>
                    <label for="taskExecutorType">
                      Task Executor Type
                    </label>
                  </td>
                  <td>
                    <select class="form-control" id="taskExecutorType"
                            th:field="*{taskExecutorType}" th:value="*{taskExecutorType}">
                      <option th:each="taskExecutor : ${taskExecutorTypes}"
                              th:value="${taskExecutor}" th:text="${taskExecutor.name()}">Task
                        Executor Type
                      </option>
                    </select>
                  </td>
                </tr>

                <tr>
                  <td>
                    <label for="schedulerStatus">
                      Scheduler Status
                    </label>
                  </td>
                  <td>
                    <input readonly="readonly" id="schedulerStatus" class="form-control"
                           th:field="*{schedulerStatus}"
                           th:value="*{schedulerStatus}"/>
                  </td>
                </tr>

                <tr>
                  <td>
                    <label for="jobParameters">
                      JobParameters
                    </label>
                  </td>
                  <td>
                            <textarea class="form-control" id="jobParameters"
                                      th:value="*{jobParameters}" th:field="*{jobParameters}">key(type)=value,key(type)=value</textarea>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label for="jobIncrementerType">
                      Job Incrementer Type
                    </label>
                  </td>
                  <td>
                    <select class="form-control" id="jobIncrementerType"
                            th:field="*{jobIncrementer}" th:value="*{jobIncrementer}">
                      <option th:each="type : ${jobIncrementerTypes}"
                              th:value="${type}" th:text="${type.name()}">Job
                        Incrementer Type
                      </option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>
                    <button type="submit" class="btn btn-success btn-small">Update
                    </button>
                  </td>
                  <td></td>
                </tr>
              </form>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>