<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: header" />
<body>
  <div th:include="fragments/layout :: menu"></div>
  <div th:include="fragments/adminMenu :: adminMenu"></div>
  <div class="container">
      <div class="hero-unit">
          <div class="panel panel-primary">
              <div class="panel-heading">
                  <h3 class="panel-title">Job Configuration</h3>
              </div>
              <div class="panel-body"></div>
          </div>
      </div>
  </div>
</body>
</html>