<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: header"/>
<body>
<div th:include="fragments/layout :: menu"></div>
<div th:include="fragments/applicationMenu :: applicationMenu"></div>
<div class="viewport">
    <div class="container content">
        <div class="row-fluid">
            <table class="table table-hover boxed">
                <thead>
                <tr>
                    <th colspan="10">
                        <a href="#"
                           th:href="@{job(jobname=${jobName},applicationid=${clientApplication.id})}"
                           th:text="${jobName}"> </a>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>Instance Id</th>
                    <th>Execution Id</th>
                    <th>Job Name</th>
                    <th>Creation Time</th>
                    <th>Launch Time</th>
                    <th>Duration</th>
                    <th>End Time</th>
                    <th>Status</th>
                    <th>Exit Code</th>
                    <th>Action</th>
                </tr>
                <tr th:each="jobExecution : ${jobExecutions}">
                    <td th:text="${jobExecution.jobInstanceId}"/>
                    <td><a href="#"
                           th:href="@{execution(jobExecutionId=${jobExecution.jobExecution.id},applicationid=${clientApplication.id})}"
                           th:text="${jobExecution.jobExecution.id}"></a></td>
                    <td th:text="${jobExecution.jobName}"/>
                    <td th:text="${jobExecution.jobExecution.createTime}"/>
                    <td th:text="${jobExecution.jobExecution.startTime}"/>
                    <td th:text="${jobExecution.duration}"/>
                    <td th:text="${jobExecution.jobExecution.endTime}"/>
                    <td th:text="${jobExecution.jobExecution.status}"/>
                    <td th:text="${jobExecution.jobExecution.exitStatus.exitCode}"/>
                    <td>
                        <div class="col-xs-11 clearfix">
                            <div class="pull-right">
                                <form method="post" class="form-inline pull-right"
                                      th:if="${jobExecution.jobExecution.status.name() == 'COMPLETED'
                                                      || jobExecution.jobExecution.status.name() == 'FAILED' || jobExecution.jobExecution.status.name() == 'ABANDONED'}"
                                      th:action="@{executionRestart(jobExecutionId=${jobExecution.jobExecution.id},jobInstanceId=${jobExecution.jobInstanceId},applicationid=${clientApplication.id})}">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-success btn-sm">Restart</button>
                                    </div>
                                </form>
                                <form method="post" class="form-inline pull-right"
                                      th:if="${jobExecution.jobExecution.status.name() == 'STARTING'
                                                      || jobExecution.jobExecution.status.name() == 'STARTED' || jobExecution.jobExecution.status.name() == 'UNKNOWN'}"
                                      th:action="@{executionStop(jobExecutionId=${jobExecution.jobExecution.id},jobInstanceId=${jobExecution.jobInstanceId},applicationid=${clientApplication.id})}">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-danger btn-sm">Stop</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <span class="text-left" th:if="${pageModel.hasPrevious}">
        <a href="#"
           th:href="@{executions(jobInstanceId=${jobInstanceId},startindex=${pageModel.previousStartIndex},applicationid=${clientApplication.id})}"
           class="btn btn-inverse btn-small">&laquo; prev</a>
      </span>
            <span class="text-right" th:if="${pageModel.hasMore}">
        <a href="#"
           th:href="@{executions(jobInstanceId=${jobInstanceId},startindex=${pageModel.nextStartIndex},applicationid=${clientApplication.id})}"
           class="btn btn-inverse btn-small">next &raquo;</a>
      </span>
        </div>
    </div>
</div>
</body>
</html>