<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: header"/>
<body>
<div th:include="fragments/layout :: menu"></div>
<div class="viewport">
    <div class="container content">
        <div class="container-fluid">
            <table class="table table-hover boxed">
                <thead>
                <tr>
                    <th colspan="6">
                        Job Execution Events
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>Job Name</th>
                    <th>Execution Id</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Application</th>
                    <th>Exit Code</th>
                </tr>
                <tr th:each="jobExecutionEvent : ${jobExecutionEvents}">
                    <td th:text="${jobExecutionEvent.jobName}"/>
                    <td><a href="#"
                           th:href="@{execution(jobExecutionId=${jobExecutionEvent.jobExecutionId},applicationid=${jobExecutionEvent.applicationName},idIsName=true)}"
                           th:text="${jobExecutionEvent.jobExecutionId}"></a></td>
                    <td th:text="${jobExecutionEvent.startTime}"/>
                    <td th:text="${jobExecutionEvent.endTime}"/>
                    <td th:text="${jobExecutionEvent.applicationName}"/>
                    <td th:class="${jobExecutionEvent.exitStatus.exitCode} == 'COMPLETED' ? status-UP : status-DOWN"
                        th:text="${jobExecutionEvent.exitStatus.exitCode}"/>
                </tr>
                status-UP
                </tbody>
            </table>
            <span class="text-left" th:if="${pageModel.hasPrevious}">
        <a href="#"
           th:href="@{jobExecutionEvents(startindex=${pageModel.previousStartIndex})}"
           class="btn btn-inverse btn-small">&laquo; prev</a>
      </span>
            <span class="text-right" th:if="${pageModel.hasMore}">
        <a href="#"
           th:href="@{jobExecutionEvents(startindex=${pageModel.nextStartIndex})}"
           class="btn btn-inverse btn-small">next &raquo;</a>
      </span>
        </div>
    </div>
</div>
</body>
</html>