<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: header"/>
<body>
<div th:include="fragments/layout :: menu"></div>
<div th:include="fragments/applicationMenu :: applicationMenu"></div>
<div class="viewport">
    <div class="container content">
        <div class="row-fluid">
            <table class="table table-hover boxed">
                <thead>
                <tr>
                    <th colspan="2">
                        Job Execution Summary
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>Property</th>
                    <th>Value</th>
                </tr>
                <tr>
                    <td>Job Instance Id</td>
                    <td>
                        <a href="#"
                           th:href="@{executions(jobInstanceId=${jobExecution.jobInstanceId},applicationid=${clientApplication.id})}"
                           th:text="${jobExecution.jobInstanceId}"> </a>
                    </td>
                </tr>
                <tr>
                    <td>Job Execution Id</td>
                    <td th:text="${jobExecution.jobExecution.id}"/>
                </tr>
                <tr>
                    <td>Job Name</td>
                    <td th:text="${jobExecution.jobName}"/>
                </tr>
                <tr>
                    <td>Launch Time</td>
                    <td th:text="${jobExecution.jobExecution.startTime}"/>
                </tr>
                <tr>
                    <td>Duration</td>
                    <td th:text="${jobExecution.duration}"/>
                </tr>
                <tr>
                    <td>End Time</td>
                    <td th:text="${jobExecution.jobExecution.endTime}"/>
                </tr>
                <tr>
                    <td>Status</td>
                    <td th:text="${jobExecution.jobExecution.status}"/>
                </tr>
                <tr>
                    <td>Exit Code</td>
                    <td th:text="${jobExecution.jobExecution.exitStatus.exitCode}"/>
                </tr>
                <tr>
                    <td>Exit Message</td>
                    <td th:text="${jobExecution.jobExecution.exitStatus.exitDescription}"/>
                </tr>
                <tr>
                    <td>Job Parameters</td>
                    <td>
                        <table>
                            <tbody>
                            <tr th:each="parameter : ${jobExecution.jobExecution.jobParameters.parameters}">
                                <td th:text="${parameter}"/>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row-fluid">
            <table class="table table-hover boxed">
                <thead>
                <tr>
                    <th colspan="11">
                        Step Executions
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>Step Name</th>
                    <th>Read</th>
                    <th>Writes</th>
                    <th>Commits</th>
                    <th>Rollbacks</th>
                    <th>Read Skips</th>
                    <th>Process Skips</th>
                    <th>Write Skips</th>
                    <th>Duration</th>
                    <th>Step Status</th>
                    <th>Step Exit Message</th>
                </tr>
                <tr th:each="stepExecution : ${jobExecution.stepExecutions}">
                    <td th:text="${stepExecution.stepExecution.stepName}"/>
                    <td th:text="${stepExecution.stepExecution.readCount}"/>
                    <td th:text="${stepExecution.stepExecution.writeCount}"/>
                    <td th:text="${stepExecution.stepExecution.commitCount}"/>
                    <td th:text="${stepExecution.stepExecution.rollbackCount}"/>
                    <td th:text="${stepExecution.stepExecution.readSkipCount}"/>
                    <td th:text="${stepExecution.stepExecution.processSkipCount}"/>
                    <td th:text="${stepExecution.stepExecution.writeSkipCount}"/>
                    <td th:text="${stepExecution.duration}"/>
                    <td th:text="${stepExecution.stepExecution.exitStatus.exitCode}"/>
                    <td th:text="${stepExecution.stepExecution.exitStatus.exitDescription}"/>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>