<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: header"/>
<body>
<div th:include="fragments/layout :: menu"></div>
<div th:include="fragments/adminMenu :: adminMenu"></div>
<div class="viewport">
    <div class="container content">
        <div class="row-fluid">
            <table class="table boxed">
                <thead>
                <tr>
                    <th colspan="1">
                        Launch Job
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <form id="launchJob" th:action="@{jobLauncher}"
                              th:object="${jobLauncherModel}" action="#" method="post">
                            <div class="form-group">
                                <label for="jobName" class="control-label col-xs-2">Job
                                    Name</label>

                                <div class="col-xs-10">
                                    <input id="jobName" readonly="readonly" class="form-control"
                                           th:field="*{jobName}" th:value="*{jobName}"/>
                                </div>
                                <label for="jobParameters" class="control-label col-xs-2">Job Parameters</label>
                                <div class="col-xs-10">
                                    <textarea class="form-control" id="jobParameters"
                                              th:value="*{jobParameters}"
                                              th:field="*{jobParameters}">key(type)=value,key(type)=value</textarea>
                                </div>
                                <label for="jobIncremeters" class="control-label col-xs-2">Job Incrementers</label>
                                <div class="col-xs-10">
                                    <select class="form-control" id="jobIncremeters" th:value="*{jobIncrementer}"
                                            th:field="*{jobIncrementer}">
                                        <option th:each="jobIncrementerValue : ${jobIncrementers}"
                                                th:value="${jobIncrementerValue}"
                                                th:text="${jobIncrementerValue}">JobIncrementer
                                        </option>
                                    </select>
                                </div>
                                <div class="col-xs-10">
                                    <button type="submit" class="btn btn-success btn-small">Launch
                                    </button>
                                </div>
                            </div>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
            <div th:if="${jobLauncherModel.launchedMessage} != null">
                <h4 th:value="${jobLauncherModel.launchedMessage}"></h4>
            </div>
        </div>
    </div>
</div>
</body>
</html>