<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: header"/>
<body>
<div th:include="fragments/layout :: menu"></div>
<div th:include="fragments/applicationMenu :: applicationMenu"></div>
<div th:include="fragments/jobConfigurationsMenu :: jobConfigurationsMenu"></div>
<div class="viewport">
    <div class="container content">
        <div class="row-fluid">
            <table class="table boxed">
                <thead>
                <tr>
                    <th colspan="1">Listener Types</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <form id="selectJobListenerType"
                              th:action="@{jobListenerAdd}"
                              method="get">
                            <input type="hidden" th:id="applicationId" th:name="applicationId"
                                   th:value="${clientApplication.id}" th:field="${clientApplication.id}"/>
                            <label for="jobListenerType" class="control-label col-xs-2">Job
                                Scheduler Type</label>

                            <div class="col-xs-10">
                                <select class="form-control" id="jobListenerType"
                                        th:value="${jobListenerType.jobListenerType}"
                                        th:field="${jobListenerType.jobListenerType}">
                                    <option th:each="type : ${jobListenerTypes}" th:value="${type}"
                                            th:text="${type}">Job Listener Type
                                    </option>
                                </select>
                            </div>
                            <div class="col-xs-10">
                                <button type="submit" class="btn btn-success btn-small">Configure
                                </button>
                            </div>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>