<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: header"/>
<body>
<div th:include="fragments/layout :: menu"></div>
<div th:include="fragments/applicationMenu :: applicationMenu"></div>
<div th:include="fragments/jobConfigurationsMenu :: jobConfigurationsMenu"></div>
<div class="viewport">
    <div class="container content">
        <div class="row-fluid">
            <table class="table boxed">
                <thead>
                <tr>
                    <th colspan="1">
                        Job Listener Configuration
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <table class="table table-hover boxed table-striped">
                            <form id="addJobConfiguration" th:action="@{jobConfigurationEdit}"
                                  th:object="${jobConfigurationAddModel}" action="#" method="post">
                                <tr>
                                    <td type="hidden">
                                        <label for="jobConfigurationId">
                                            Job Configuration Id
                                        </label>
                                    </td>
                                    <td type="hidden">
                                        <input readonly="readonly" id="jobConfigurationId" class="form-control"
                                               th:value="*{jobConfigurationId}"
                                               th:field="*{jobConfigurationId}"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="jobName">
                                            Job Name
                                        </label>
                                    </td>
                                    <td>
                                        <input readonly="readonly" id="jobName" class="form-control"
                                               th:field="*{jobName}"
                                               th:value="*{jobName}"/>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <label for="jobListenerType">
                                            Job Scheduler Type
                                        </label>
                                    </td>
                                    <td>
                                        <input readonly="readonly" id="jobListenerType" class="form-control"
                                               th:value="*{jobListenerType}"
                                               th:field="*{jobListenerType}"/>
                                    </td>
                                </tr>

                                <div>
                                    <tr>
                                        <td>
                                            <label for="sourceFolder">
                                                Source Folder
                                            </label>
                                        </td>
                                        <td>
                                            <input class="form-control" id="sourceFolder" type="text"
                                                   th:value="*{sourceFolder}" th:field="*{sourceFolder}"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="filePattern">
                                                File Pattern
                                            </label>
                                        </td>
                                        <td>
                                            <input class="form-control" id="filePattern" type="text"
                                                   th:value="*{filePattern}" th:field="*{filePattern}"/>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <label for="pollerPeriod">
                                                Poller Period
                                            </label>
                                        </td>
                                        <td>
                                            <input class="form-control" id="pollerPeriod" type="text"
                                                   th:value="*{pollerPeriod}" th:field="*{pollerPeriod}"/>
                                        </td>
                                    </tr>
                                </div>
                                <tr>
                                    <td>
                                        <label for="taskExecutorType">
                                            Task Executor Type
                                        </label>
                                    </td>
                                    <td>
                                        <select class="form-control" id="taskExecutorType"
                                                th:field="*{taskExecutorType}" th:value="*{taskExecutorType}">
                                            <option th:each="taskExecutor : ${taskExecutorTypes}"
                                                    th:value="${taskExecutor}" th:text="${taskExecutor.name()}">Task
                                                Executor Type
                                            </option>
                                        </select>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <label for="listenerStatus">
                                            Listener Status
                                        </label>
                                    </td>
                                    <td>
                                        <input readonly="readonly" id="listenerStatus" class="form-control"
                                               th:field="*{listenerStatus}"
                                               th:value="*{listenerStatus}"/>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <label for="jobParameters">
                                            JobParameters
                                        </label>
                                    </td>
                                    <td>
                            <textarea class="form-control" id="jobParameters"
                                      th:value="*{jobParameters}" th:field="*{jobParameters}">key(type)=value,key(type)=value</textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="jobIncrementerType">
                                            Job Incrementer Type
                                        </label>
                                    </td>
                                    <td>
                                        <select class="form-control" id="jobIncrementerType"
                                                th:field="*{jobIncrementer}" th:value="*{jobIncrementer}">
                                            <option th:each="type : ${jobIncrementerTypes}"
                                                    th:value="${type}" th:text="${type.name()}">Job
                                                Incrementer Type
                                            </option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <button type="submit" class="btn btn-success btn-small">Update
                                        </button>
                                    </td>
                                    <td></td>
                                </tr>
                                <input type="hidden" th:value="${clientApplication.id}" th:field="*{applicationId}"/>
                            </form>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>