<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: header" />
<body>
	<div th:include="fragments/layout :: menu"></div>
	<div th:include="fragments/applicationMenu :: applicationMenu"></div>
	<div class="viewport">
		<div class="container content">
			<div class="row-fluid">
				<table class="table boxed">
					<thead>
						<tr>
							<th colspan="1">Jobs</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<form id="selectJobToLaunch"
									th:action="@{jobLauncher(jobName=${jobName.jobName}, applicationid=${clientApplication.id})}"
									method="get">
									<label for="jobName" class="control-label col-xs-2">Job
										Name</label>

									<div class="col-xs-10">
										<select class="form-control" id="jobName"
											th:value="${jobName.jobName}" th:field="${jobName.jobName}">
											<option th:each="name : ${jobNames}" th:value="${name}"
												th:text="${name}">JobName</option>
										</select>
									</div>
									<div class="col-xs-10">
										<button type="submit" class="btn btn-success btn-small">Configure
										</button>
									</div>
								</form>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>