<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: header" />
<body>
  <div th:include="fragments/layout :: menu"></div>
  <div class="viewport">
      <div class="container content">
          <div class="row-fluid">
              <table class="table table-hover boxed">
                  <thead>
                  <tr>
                      <th colspan="2">
                          Jobs
                      </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                      <th>Name</th>
                      <th>Instance Count</th>
                  </tr>
                  <tr th:each="job : ${jobs}">
                      <td><a href="#"
                             th:href="@{job(jobname=${job.jobName})}"
                             th:text="${job.jobName}"> </a></td>
                      <td th:text="${job.instanceCount}"/>
                  </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</body>
</html>