<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Spring Batch Lightmin</title>
<title tiles:fragment="title">login</title>
<!-- bootstrap -->
<link rel="stylesheet" type="text/css"
	href="/src/main/resources/static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"
	href="/src/main/resources/static/css/bootstrap.css"
	th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" type="text/css"
	href="/src/main/resources/static/css/bootstrap-theme.css"
	th:href="@{/css/bootstrap-theme.css}" />
<link rel="stylesheet" type="text/css"
	href="/src/main/resources/static/css/bootstrap-theme.min.css"
	th:href="@{/css/bootstrap-theme.min.css}" />
<link rel="shortcut icon" type="image/png"
	href="/src/main/resources/static/favicon.ico" th:href="@{/favicon.ico}" />
</head>
<body>
	<div th:include="fragments/header :: header"></div>
	<div class="container">
		<div class="hero-unit">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<td>Job Instance Id</td>
						<td>Job Executions Count</td>
					</tr>
				</thead>
				<tbody>
					<tr th:each="jobInstance : ${jobInstances}">
						<td><a href="#" th:href="@{/jobs/executions/{jobInstanceId}(jobInstanceId=${jobInstance.jobInstanceId})}"
							th:text="${jobInstance.jobInstanceId}"> </a></td>
						<td th:text="${jobInstance.jobExecutions.size()}" />
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>