<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="nav">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand text-info" href="#" th:href="@{events}">Events</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{job-execution-events}">Job Executions<span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{journals}">Journal<span
                        class="sr-only">(current)</span></a>
            </li>
        </ul>
    </nav>
</div>

</body>
</html>